.about-wrapper {
    margin-top: 45px;
}

.about-header {
    padding: 20px;
    text-align: center;
    color: #CF5C36;
}

.about-content-wrapper {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}

.headshot {
    height: 300px;
    width: auto;
    margin: 5%;
}

.about-text {
    padding: 5% 10%;
}

.about-paragraph {
    padding: 10px 0;
}

@media(max-width: 600px) {
    .headshot {
        height: 200px;
    }

    .about-text {
        padding: 0 5%;
    }
}
