.main-portfolio {
    padding-top: 45px;
    padding-bottom: 65px;
    overflow: scroll;
}

.portfolio-header {
    text-align: center;
    color: #CF5C36;
    padding-top: 20px;
}

.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}

.backdrop-style {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 50px;
}

.image-modal {
    background-color: #fff;
    border-radius: 5px;
    max-width: 1000px;
    max-height: 600px;
    margin: 0 auto;
    padding: 30px;
    overflow: scroll;
}

.modal-image-wrapper {
    width: 100%;
}

.modal-image {
    height: 450px;
    width: auto;
    display: block;
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.close-modal {
    display: block;
    margin: auto;
    width: 80px;
    height: 30px;
    border-radius: 5px;
    background-color: rgb(52, 163, 148);    
    color: white;
    font-size: 15px;
}