.portfolio-piece-wrapper {
    width: 425px;
    height: auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(236, 236, 236);
    margin: 5px;
    border-radius: 10px;
}

.portfolio-piece-wrapper > * {
    padding: 5px;
}

.port-piece-header {
    font-weight: 700;
    color: rgb(52, 163, 148);    
}

.main-image {
    width: 90%;
    height: auto;
    padding: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.github-link {
    display: block;
    color: black;
}

.smaller-imgs-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.smaller-images {
    height: 60px;
    width: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.smaller-images:hover, .main-image:hover {
    cursor: pointer;
}

.enlarge {
    width: 100vw;
    height: auto;
}