.footer-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: white;
}

.icons {
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin: auto;
}

.nav-icon:hover {
    cursor: pointer;
}

